* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: hsl(0deg, 0%, 100%);
}

/* Add styles here! */

hr {
  background-color: hsl(0deg, 0%, 60%);
  height: 8px;
  margin: 0;
  border: none;
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.indented-heading {
  margin-block: 0;
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
  padding: 8px 24px;
  border-bottom: solid;
  border-width: 8px;
  border-color: hsl(45deg, 100%, 40%);
  margin-left: -24px;
  margin-top: -8px;
}

main {
  background-color: hsl(0deg, 0%, 40%);
  padding-block: 32px;
}

.intro-chunk {
  padding-block: 32px;
  padding-inline: 16px;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  padding: 16px;
  border-bottom: solid;
  border-width: 8px;
  border-color: hsl(0deg, 0%, 60%);
}
